:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
.card {
  position: relative;
  width: 320px;
  height: max-content;
  min-width: 320px;
  flex: 0 0 auto;
}
.content {
  min-height: 50px;
  min-width: 50px;
}
.actions {
  min-height: 40px;
  min-width: 50px;
}
.text {
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.button {
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.icon-button {
  flex: 0 0 auto;
}
